:plain
  $('#users').html("#{escape_javascript render(@users)}");
  $('#paginator').html("#{escape_javascript(paginate(@users, :remote => true).to_s) }");
  $('#search').val('#{@search}');
  $('#flash').html('#{@ajax_flash}');
